<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<main>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <!-- Search -->
                            <form>
                                <div class="input-group input-group-flush input-group-merge input-group-reverse">
                                    <input class="form-control list-search" type="search" placeholder="Search">
                                    <span class="input-group-text">
                                      <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-nowrap card-table">
                                <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Price Sell</th>
                                    <th scope="col">Price Buy</th>
                                    <th scope="col">Units in Stock</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Category</th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                <tr th:each="product: ${products}">
                                    <td th:text="${product.productCode}"></td>
                                    <td th:text="${product.productName}"></td>
                                    <td th:text="${product.productDescription}"></td>
                                    <td th:text="'$' + ${product.priceSell}"></td>
                                    <td th:text="${product.priceBuy}"></td>
                                    <td th:text="${product.unitsInStock}"></td>
                                    <td th:text="${product.productBrand.brandName}"></td>
                                    <td th:text="${product.productCategory.categoryName}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="layout :: footer"></footer>
</body>
</html>